{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>csantos</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/website.css'%}">
	<font face="{% static 'font/Hermit-medium.otf'%}"></font>
</head>
<body>
	<div class="menu"> 
		<div class="separator-high"> </div>
		<div class="menu-items title"> 
			<a href="/thoughts/">thoughts</a>
			<a href="/portifolios/">portifolio</a>
			<a href="/about-me/">about me</a>
			<span class="console">&nbsp</span>
		</div>
	</div>
	<div class="separator-high"> </div>
	<div class="content"> 
		{% block content %}
		{% endblock%}
	</div>

</body>
</html>