<!DOCTYPE html>
<html>
<head>
	<title>MAVILLA - The Historian</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<div class="head">
		<br>
		<h1> MAVILLA - The Historian </h1>
	</div>
	<div class="content">
		<form action="investigate/" method="post">
		 	<br>
			<span class="url_title">URL:</span><input class="url_text" type="text" name="url"/>
			<br>
			<br>
			<input class="url_submit" type="submit" value="Investigar!"/>
		</form>
	</div>
</body>
</html>